.tf-title-section, .tf-heading {
    --tf-heading-color: var(--theme-accent-color);
    
    .before-heading {
        font-size: 16px;
        line-height: 15px;
        font-family: var(--theme-font-primary);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    
    .heading {
        font-size: 48px;
        line-height: 1.2;
        text-transform: capitalize;
        margin-bottom: 7px;
        color: var(--tf-heading-color);
        
        mark {
            color: var(--theme-secondary-color);
            background-color: transparent;
            padding: 0;
        }
    }
    
    &.tf-title-section-style-01 {
        text-align: center;
        
        
        .heading-separate {
            max-width: 2px;
            height: 50px;
            background-color: var(--theme-secondary-color);
            margin: 0 auto;
        }
        
    }
    
    &.tf-title-section-style-02 {
        .sub-title {
            font-size: 18px;
            font-family: var(--theme-font-primary);
            line-height: 30px;
            font-weight: 600;
            color: var(--theme-secondary-color);
        }
    }
    
    &.tf-title-section-style-03 {
        .heading-separate {
            max-width: 50px;
            height: 2px;
            background-color: var(--theme-secondary-color);
        }
        
        .sub-title {
            font-size: 14px;
            line-height: 30px;
            margin-top: 21px;
        }
    }
}