.tags-links {
	a {
		display: inline-block;
		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
		font-family: var(--theme-font-body);
		text-transform: none;
		background-color: #F6F6F6;
		padding: 5px 19px;
		color: var(--theme-color-text-main);
		@include transition(all 0.3s ease);
		border-radius: 5px;
		margin: 6px 6px 6px 0;

		&:hover {
			background-color: var(--theme-secondary-color);
			color: #ffffff !important;
		}
	}
}

.themesflat-tags-lable {
	display: inline-block;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 30px;
	font-family: var(--theme-font-primary);
	color: #272B2E;
	font-weight: 700;
	margin-right: 28px;
}